/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, figure {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* my reset */
:root{
    --primary: rgb(33,41,70);
    --secondary: rgb(233,236,252);
    --lighttop: rgb(54,182,103);
    --icon: rgb(188,192,209);
}


*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    line-height: 1.6;
}
.container{
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
li a:hover{
    color: var(--secondary);
}
.active{
    color: var(--lighttop);
}

/* flex */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-46{
    flex: 0 1 46%;
}
.flex-45{
    flex: 0 1 46%;
}

.flex-30{
    flex: 0 1 30%;
}
.full-width{
    width: 100%;
}
.font-30{
    font-size: 1.8rem;
}
.align-top{
    align-items: flex-start;
}

/* CUSTOM */
header{
    background-color: var(--primary);
}
header li{
    color: white;
    padding: 2rem;
}
.hero{
    background-color: var(--secondary);
    padding: 2.5rem 0;
}
h1{
    font-size: 40px;
    color: var(--primary);
    font-weight: 900;
}
p{
    padding: 1.8rem 0;
}
.btn{
    background-color: var(--lighttop);
    padding: 0.8rem 1.8rem;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}
.article{
    padding: 50px 0;
}
h2{
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary);
    padding-bottom: 1.8rem;
}
h3{
    font-size: 1.8rem;
    color: var(--primary);
   
}
footer{
    background-color: var(--primary);
    padding: 1.8rem 0;
    color: var(--icon);
    font-size: 20px;
}
i{
    color: var(--icon);
    font-size: 1.4rem;
    padding: 0 0.9rem;
}
@media screen and (max-width:768px) {
    .flex{
        flex-direction: column;
        flex: 1 1 100%;
    }
    figure{
        margin-top: 30px;
    }
    .nav{
        flex-direction: row;
        font-size: 1.8rem;
    }

}